#loading {
	font-family: "Alef", sans-serif;
	width: 80%;
	display: block;
	position: relative;
	color: #212121;
	background-color: #eee;
	padding: 1rem;
	margin: 1.5rem auto;
	text-align: center;
	border-radius: 10px;
	overflow: hidden;
}

#loading:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	-webkit-animation: loadBar 2s cubic-bezier(0.09, 0.89, 0.7, 0.71) infinite;
	animation: loadBar 2s cubic-bezier(0.09, 0.89, 0.7, 0.71) infinite;
}
@-webkit-keyframes loadBar {
	0% {
		left: -110%;
	}

	100% {
		left: 110%;
	}
}

@keyframes loadBar {
	0% {
		left: -110%;
	}

	100% {
		left: 110%;
	}
}
